@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
	font-family: Rajdhani, Helvetica, sans-serif;
	letter-spacing: 1px;
}

.header, .footer {
	font-family: 'Monoton', cursive;
	letter-spacing: 35px;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	color: #7251b5;
	height: 100px;
	background: rgb(251,177,189);
	background: linear-gradient(28deg, rgba(251,177,189,1) 34%, rgba(250,224,228,1) 100%);
}

.footer {
	line-height: 100px;
}

.page {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	overflow: hidden;
}

.page::before {
	content: "";
  	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: -1;
	background: url(../img/bg.png) 0 0 repeat;
	transform: rotate(30deg);
}

.form-container {
	margin: 50px 0 100px 0;
	display: flex;
	width: 500px;
	justify-content: center;
	box-shadow: 0 4px 20px #ccc;
	background-color: white;
}

.input-container {
	display: flex;
	margin: 20px;
	line-height: 20px;
}

.align {
	align-items: center;
}

.terms {
	justify-content: center;
	align-items: center;
}

label {
	width: 70px;
	text-align: right;
	margin-right: 10px;
}

label[for="agree"] {
	width: 300px;
	text-align: center;
	font-size: 14px;
}

input[type="submit"] {
	width: 300px;
	height: 50px;
	border-radius: 25px;
	margin: 0 auto;
	color: white;
	background-color: #38b000;
	font-size: 20px;
	letter-spacing: 2px;
	transition: background-color .2s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #70e000;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	border-radius: 5px;
	font-size: 18px;
	padding: 5px;
	text-align: center;
}

input[type=radio] { 
	margin: 0; 
	padding: 0; 
}

textarea {
	box-sizing: border-box;
	width: 300px;
	height: 200px;
	font-size: 18px;
	padding: 5px;
}

select {
	width: 300px;
	font-size: 18px;
	padding: 5px;
}

span {
	margin: 0 10px 0 5px;
}

h1 {
	font-size: 26px;
	margin-top: 50px;
	font-weight: 700;
	color: #7251b5;
}

h2 {
	color: grey;
	font-size: 18px;
	margin-top: 25px;
}

@media screen and (min-width: 717px) {

	.header {
		line-height: 100px;
	}

	h1 {
		font-size: 36px;
	}
}